<div *ngFor="let block of blocks">

  <div [ngStyle]=
  "{
    'margin-left': 'calc(' + (-block.size/2 + block.x) + 'px)',
    'margin-top': 'calc(' + (-block.size/2 + block.y) + 'px)',
    'width': 'calc(' + (block.size) + 'px)',
    'height': 'calc(' + (block.size) + 'px)'
  }" 
  class="block-container">
    <img class="block" src="/assets/img/Hex_Blue Hex.svg"/>
  </div>

</div>
<div *ngFor="let tile of tiles">
  <div [ngStyle]=
  "{
    'margin-left': 'calc(' + (-tile.size/2 + tile.x) + 'px)',
    'margin-top': 'calc(' + (-tile.size/2 + tile.y) + 'px)',
    'width': 'calc(' + (tile.size) + 'px)',
    'height': 'calc(' + (tile.size) + 'px)'
  }"
  class="block-container">
    <img (mouseover)="onTileHover(tile.index)" id={{tile.name}} class="block" src={{tile.imagePath}}/>
    <div *ngIf="tile.hovering" (mouseleave)="onTileLeave(tile.index)" id="{{tile.name}}-overlay">
      <img class="block" src={{tile.hoverPath}}/>
    </div>
    
  </div>
</div>