/* Quicksand Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

html {
    background-color: #000;
    color: #FFF;
    /* overflow: hidden; */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    font-family: 'Quicksand', sans-serif;
}