<div class="info-view" [@routeAnimation]>

  <svg [ngStyle]=
  "{
    'width': 'calc(' + (deviceWidth) + 'px)',
    'height': 'calc(' + (deviceHeight) + 'px)'
  }">
    <defs>
      <filter [ngStyle]=
      "{
        'width': 'calc(' + (2 * deviceWidth) + 'px)',
        'height': 'calc(' + (2 * deviceHeight) + 'px)'
      }" id="f1" x="0" y="0">
        <feOffset result="offOut" in="SourceAlpha" [attr.dx]="15" [attr.dy]="15" />
        <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
    </defs>

    <rect [ngStyle]=
    "{
      'width': 'calc(' + (deviceWidth) + 'px)',
      'height': 'calc(' + (deviceHeight) + 'px)'
    }" fill="transparent" (click)="exit()"/>

    <rect [ngStyle]=
    "{
      'transform': 'translate(' + (viewOffset) + 'px,' + (viewOffset) + 'px)',
      'width': 'calc(' + (deviceWidth - 2 * viewOffset) + 'px)',
      'height': 'calc(' + (deviceHeight - 2 * viewOffset) + 'px)'
    }"
    [attr.rx]="boxRounding" [attr.ry]="boxRounding" 
    [attr.fill]="fillColor" filter="url(#f1)" />

    <defs>
      <filter [ngStyle]=
      "{
        'width': 'calc(' + (2 * deviceWidth) + 'px)',
        'height': 'calc(' + (2 * deviceHeight) + 'px)'
      }" id="f2" x="0" y="0">
        <feOffset result="offOut" in="SourceAlpha" [attr.dx]="0" [attr.dy]="0" />
        <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="5" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
    </defs>
    <g cursor="pointer" (click)="exit()">
      <circle [attr.cx]="circleSize + circleOffset" [attr.cy]="circleSize + circleOffset" [attr.r]="circleSize" 
        fill="rgba(0,0,0,0.7)" filter="url(#f2)"/>
      <rect [ngStyle]=
      "{
        'width': 'calc(' + (circleSize*2 - 2*exitRectThickness) + 'px)',
        'height': 'calc(' + (exitRectThickness) + 'px)'
      }"
        [attr.x]="circleOffset + exitRectThickness" [attr.y]="circleSize + circleOffset - exitRectThickness/2"
        fill="white" [attr.transform]="'rotate(45 '+(circleSize + circleOffset)+' '+(circleSize + circleOffset)+')'" />
      <rect [ngStyle]=
      "{
        'width': 'calc(' + (circleSize*2 - 2*exitRectThickness) + 'px)',
        'height': 'calc(' + (exitRectThickness) + 'px)'
      }"
        [attr.x]="circleOffset + exitRectThickness" [attr.y]="circleSize + circleOffset - exitRectThickness/2"
        fill="white" [attr.transform]="'rotate(-45 '+(circleSize + circleOffset)+' '+(circleSize + circleOffset)+')'" />
    </g>
    


  </svg>

  

  <div class="info-view-content" [@routeAnimation] [innerHTML]=myTemplate
  [ngStyle]="{
    'left': 'calc(' + (viewOffset + boxRounding * (2/3)) + 'px)',
    'top': 'calc(' + (viewOffset + boxRounding * (2/3)) + 'px)',
    'width': 'calc(' + (deviceWidth - 2 * viewOffset - 2 * boxRounding * (2/3)) + 'px)',
      'height': 'calc(' + (deviceHeight - 2 * viewOffset - 2 * boxRounding * (2/3)) + 'px)'
  }">
    
  </div>

</div>
